.cardContainer {
  border-top: 5px hsl(180, 62%, 55%) solid;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem;
  row-gap: 2rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 15px 10px -5px lightblue;

}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.description {
  font-weight: 400;
  color: hsl(212, 6%, 44%);
}

.iconContainer {
  grid-row: 3 / span 1;
}

.cardContent {
  justify-items: center;
}

.icon {
  justify-self: end;
}
